[Desktop Entry]
Categories=Qt;Privacy;Messenger;Internet;Security;
Comment=Private and anonymous messenger
Comment[en_GB]=Private and anonymous messenger
Comment[ru]=Маскалю на ножі
Comment[uk]=Приватний та анонімний месенджер
Comment[x-test]=xxPrivate and anonymous messengerxx
Exec=privacy-protection-messenger-qt
GenericName=Privacy Protection Messenger
Icon=/usr/share/icons/privacy-protection-messenger-qt/icon.svg
MimeType=
Name=Privacy Protection Messenger
Path=
SingleMainWindow=true
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-RunOnDiscreteGpu=false
X-KDE-StartupNotify=true
X-KDE-SubstituteUID=false
X-KDE-Username=
